@import "tailwindcss";

:root {
  --background: #F8F8F8;
  --foreground: #F8F8F8;
  /* font-family: Rothek, sans-serif; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F8F8;
    --foreground: #F8F8F8;
    /* font-family: Rothek, sans-serif; */
    ;
  }
}

@font-face {
  font-family: 'Rothek';
  src: url('/fonts/RothekRegular.otf') format('opentype');
  /* ✅ Убрал пробел в имени файла */
  font-weight: 400;
}

@font-face {
  font-family: 'Rothek';
  src: url('/fonts/RothekBold.otf') format('opentype');
  /* ✅ Исправил 'bold' на normal */
  font-weight: 700;
}

@font-face {
  font-family: 'Rothek';
  src: url('/fonts/RothekLight.otf') format('opentype');
  /* ✅ Обновил 'Normal' на 'Light' */
  font-weight: 300;
}

@font-face {
  font-family: 'Rothek';
  src: url('/fonts/RothekSemiBold.otf') format('opentype');
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rothek, sans-serif;
}