.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    transition: 0.3s;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--Colors-Primary-300, #60131D);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 160px 30px 35px 24px;
}

.boxHeaderText {
    display: flex;
    flex-direction: column;
    gap: 102px;
    width: auto;
}

.boxTextPart1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 105px;
}

.boxTextPart1 a {
    display: flex;
    padding: 21px 16.86px 21px 16.84px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    border: 2px solid #FFF;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.boxText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.boxText h2 {
    align-self: stretch;
    color: #FFF;
    font-family: Rothek;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.boxText p {
    color: #FFF;
    font-family: Rothek;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* 120% */
}

.boxTextPart2 {
    display: inline-flex;
    align-items: center;
}

.iconAndText {
    display: flex;
    width: 220px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.iconAndText h3 {
    color: var(--Colors-Neutral-100, #FFF);
    text-align: center;
    font-family: Rothek;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.iconAndText p {
    color: var(--Colors-Neutral-100, #FFF);
    text-align: center;
    font-family: Rothek;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.12px;
}

.boxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 0px 24px;
}

.boxWrapper h1 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.boxTwoCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.cardOne {
    width: 47%;
    height: 550px;
    display: flex;
    border-radius: 30px;
    background: #60131d;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.boxCardImage {
    width: 47%;
    height: 550px;
}

.cardContent {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
}

.boxCardTexts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.boxText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}

.boxText h3 {
    color: var(--Colors-Neutral-100, #FFF);
    font-family: Rothek;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.boxText p {
    color: var(--Colors-Neutral-100, #FFF);
    font-family: Rothek;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.12px;
}

/* New sections styling */

.conceptSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    margin-top: 60px;
}

.conceptSection h2 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 52;
}

.highlight {
    color: #B01C2F;
}

.featuresContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.featureBox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
}

.featureBox h3 {
    color: black;
    font-family: Rothek;
    font-size: 32px;
    font-weight: 500;
}

.featureBox p {
    color: black;
    font-family: Rothek;
    font-size: 24px;
    font-weight: 400;
}

.gameZoneSection {
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameZoneSection h2 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 52;
    font-weight: 500;
}

.gameZoneSection p {
    color: #000;
    font-family: Rothek;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 52;
}

.gameImages {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.gameImages img {
    width: 100%;

}

.productsSection {
    padding: 60px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsSection h2 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 52;
}

.productSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 650px;
    position: relative;
    margin-bottom: 20px;
}

.sliderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(96, 19, 29, 0.8);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background 0.3s;
}

.sliderButton:hover {
    background: rgba(96, 19, 29, 1);
}

.sliderButton:first-child {
    left: -20px;
}

.sliderButton:last-child {
    right: -20px;
}

.productSlideWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.productSlides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.productSlide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage {
    border-radius: 12px;
    object-fit: cover;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.productInfo h3 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.productInfo p {
    color: #333;
    text-align: center;
    font-family: Rothek;
    font-size: 16px;
    max-width: 80%;
}

.productNavDots {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    justify-content: center;
}

.dot,
.activeDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #DDD;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot:hover {
    background-color: #BBB;
}

.activeDot {
    background-color: #60131D;
}

.partnerSection {
    padding: 60px 24px;
}

.partnerSection h2 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 52;
}

.partnerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.partnerInfo {
    max-width: 700px;
}

.partnerInfo h3 {
    color: #000;
    font-family: Rothek;
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0;
}

.partnerInfo p {
    color: var(--Colors-Neutral-900, #1C1C1C);
    font-family: Rothek;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.locationsSection {
    padding: 60px 24px;
}

.locationsContent {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 52px;
}

.locationText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 75px 125px 96px 126px;
}

.locationText h2 {
    color: #000;
    font-family: Rothek;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.locationText p {
    color: var(--Colors-Neutral-1000, #000);
    font-family: Rothek;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.locationButton {
    display: flex;
    padding: 20px;
    border-radius: 24px;
    background-color: #C42;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Rothek;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    gap: 20px;
}

.locationBox {
    width: 684px;
    height: 412px;
    padding: 52px;
    border-radius: 20px;
    background-color: #60131D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationBox h3 {
    color: var(--Colors-Neutral-100, #FFF);
    text-align: center;
    font-family: Rothek;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
}

.map {
    width: 100%;
    margin-top: 52;
}

.financialSection {
    padding: 60px 30px;
    text-align: center;
    background-color: #f9f9f9;
}

.financialSection h2 {
    color: #000;
    text-align: center;
    font-family: Rothek;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.financialGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 24px;
}

.financialItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.secondaryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.secondaryItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    justify-content: center;
    flex-direction: column;
}

.iconContainer {
    color: #60131D;
}

.secondaryContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.financialItem h3 {
    color: var(--Colors-Neutral-1000, #000);
    text-align: center;
    font-family: Rothek;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.financialItem p {
    color: var(--Colors-Neutral-1000, #000);
    text-align: center;
    font-family: Rothek;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.secondaryContent h3 {
    color: var(--Colors-Primary-300, #60131D);
    text-align: center;
    font-family: Rothek;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.secondaryContent p {
    color: var(--Colors-Primary-300, #60131D);
    text-align: center;
    font-family: Rothek;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.12px;
}

.bigNumber {
    font-size: 40px;
    font-weight: 400 !important;
}


.contacts {
    width: 100%;
    background-image: url('/public/gradientWhite.png');
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    padding: 53px 142px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.boxcontactscontainerrow {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.boxemail {
    display: flex;
    width: 448px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: #FFF;
}

.boxemail h6 {
    color: var(--Colors-Neutral-1000, #000);
    text-align: center;
    font-family: Rothek;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.boxemail h2 {
    color: var(--Colors-Neutral-900, #1C1C1C);
    text-align: center;
    font-family: Rothek;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}


.footer {
    padding: 54px 24px 22px;
    width: 100%;
    background: #60131D;
    position: relative;
}

.containerColumn {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.boxcenterfooterinfo {
    display: inline-flex;
    align-items: center;
    gap: 54px;
}

.boxfooterinfocolumns {
    display: flex;
    min-height: 10px;
    padding: 3px 5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.boxfooterinfocolumns p {
    color: #FFF;
    text-align: center;
    font-family: Rothek;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.boxrowallrights {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.boxrowallrights p {
    color: #FFF;
    font-family: Rothek;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.boxFooterLogo {
    position: absolute;
    top: 62px;
    left: 24px;
}

.boxsocialnetworks {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.boxHeaderImage {
    width: 705px;
    height: 585px;
}

@media screen and (min-width:1441px) {
    .header{
        border-radius: 30px;
    }
}

@media screen and (max-width:1400px) {
    .header {
        flex-direction: column;
        row-gap: 30px;
    }

    .boxHeaderText {
        align-items: center;
    }

    .boxText {
        text-align: center;
        align-items: center;
    }

    .boxTextPart1 {
        align-items: center;
        margin-top: 0;
    }

    .iconAndText {
        width: unset;
    }

    .boxHeaderImage {
        margin: 0 auto;
    }
}

@media screen and (max-width:1300px) {
    .contacts {
        padding: 53px 0px;
    }
}

@media screen and (max-width:1110px) {
    .boxCardTexts img {
        width: 40px;
        height: 53px;
    }

    .boxText h3 {
        font-size: 24px;
    }

    .boxText p {
        font-size: 16px;
    }

    .locationsContent {
        flex-direction: column;
    }

    .locationBox {
        width: 100%;
        height: auto;
    }

    .locationText {
        padding: 0px 125px;
    }
}

@media screen and (max-width:1024px) {
    .boxcenterfooterinfo {
        width: 100%;
        justify-content: end;
        gap: 24px;
    }
}

@media screen and (max-width:900px) {

    .boxCardImage,
    .cardOne {
        height: 470px;
    }

    .boxCardTexts img {
        width: 25px;
        height: 25px;
    }

    .partnerContent {
        flex-direction: column;
    }
}

@media screen and (max-width:800px) {
    .boxcontactscontainerrow {
        flex-direction: column;
        row-gap: 44px;
    }

    .boxcenterfooterinfo {
        flex-direction: column;
        align-items: start;
        width: unset;
    }
}

@media screen and (max-width:768px) {
    .boxTextPart2 {
        flex-direction: column;
    }

    .boxHeaderImage {
        display: none;
    }

    .header {
        padding: 250px 30px 35px 24px;
    }

    .boxTwoCards {
        flex-direction: column;
    }

    .boxCardImage,
    .cardOne {
        height: 500px;
        width: 500px;
    }

    .featuresContainer {
        display: flex;
        flex-direction: column;
    }

    .financialGrid,
    .secondaryGrid {
        display: flex;
        flex-direction: column;
    }

    .boxemail {
        width: 448px;
    }
}

@media screen and (max-width:640px) {
    .header {
        padding: 100px 30px 35px 24px;
    }

    .boxText h2 {
        font-size: 24px;
    }

    .boxText p {
        font-size: 16px;
    }

    .boxCardImage{
        height: 400px;
        width: 400px;
    }
    
    .cardOne{
        width: 400px;
        height: 500px;
        padding: 30px;
    }

    .featureBox h3,
    .boxWrapper h1,
    .conceptSection h2,
    .gameZoneSection h2,
    .productsSection h2,
    .partnerSection h2,
    .partnerInfo h3,
    .locationText h2,
    .locationBox h3,
    .financialSection h2,
    .financialItem p {
        font-size: 24px;
    }

    .featureBox p,
    .partnerInfo p,
    .locationText p,
    .financialItem h3 {
        font-size: 16px;
    }

    .gameImages {
        flex-wrap: wrap;
    }

    .locationText {
        padding: 0px;
    }

    .boxFooterLogo {
        position: unset;
    }

    .boxcenterfooterinfo {
        align-items: center;
    }

    .boxfooterinfocolumns {
        align-items: center;
    }
}

@media screen and (max-width:550px) {
    .boxemail {
        width: 100%;
    }

    .boxemail h2 {
        font-size: 24px;
    }

    .boxemail h6 {
        font-size: 16px;
    }
    .boxrowallrights{
        flex-direction: column;
        text-align: center;
      }
}

@media screen and (max-width:460px) {

    .boxCardImage,
    .cardOne {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .cardContent {
        gap: 20px;
    }
}