.header {
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
}


.logo img {
  height: 50px;
}

.mainnav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.mainnav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s ease;
  font-family: Rothek, sans-serif;
}


.primarybutton {
  background-color: #CC4422;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}